nav{
  list-style-type: none;
  position: fixed;
  background-color: blue;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 10px;
  color:white;
}

li {
  display: inline;
  padding: 8px;

  a{ }
    text-decoration: none;
    color: ivory;
  }
  li:hover {
    background-color: yellow
  }
  
  
  h1 {
  color: lightyellow;
  font-size: 60px;
  text-decoration: overline;
  text-align: center;
  text-decoration-color: black;
  letter-spacing: 7px;
  text-shadow: 2px 2px grey;
}

body {
  background-color: lightgrey;
}

img {
  width: 50%;
    
}
img:hover {
  width: 45%;
   border-radius: 50%;
  border: solid red 6px;
}
h1:hover {
  color: red;
 
}
